DATABASE_URL=postgresql://credi:credi@localhost:5432/credit
PORT=3000
API_PREFIX=api/v1
CORS_ORIGIN=*
ADMIN_SECRET=cambia_esto_en_produccion
JWT_SECRET=cambia_esto_jwt_secret_super_seguro
JWT_EXPIRES_IN=8h
